*{
    margin: 0;
    padding: 0;
    /* colours= #eb2121, #e7781c  */
}
@font-face{
    font-family: 'take';
    src: url(/resources/fonts/take.ttf);
}
:root{
    --take:'take';
    --grey:#424242;
    --p_bg:#2e2c29;  
    --p_btn:#09599a;
    --p_btn_hover:#0c4574;
    --shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    --blue:#171921;
    --gradient:linear-gradient(45deg, #ff1400, #ff6c00);/*gradient:linear-gradient(to right, #ff6a00, #ee0979);*/
}
body{background: var(--p_bg);overflow: hidden;}
#watermark{position: absolute; top: -80px;left: 18%;}
#watermark img{width: 1000px;height: 1000px;position: absolute;}
#kc{width: 200px;position: absolute;left: 20px;top: 20px;}
#kc img{width: 200px;height: 200px; box-shadow: var(--shadow); border-radius: 50%;}

.login{
    width: 850px;
    height: 350px;
    background:var(--blue); 
    position: absolute;
    top: 29%;
    left: 23%;
    border-radius: 30px;
    transition: 0.4s ease;
    overflow: hidden;
    font-family: var(--take);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.5), 0px 6px 10px 0px rgba(0, 0, 0, 0.44), 0px 1px 18px 0px rgba(0, 0, 0, 0.42);
    animation: slide1 0.9s,rad 2s ;
}
@keyframes rad {
  50% {border-radius: 150px;}
}
@keyframes slide1{
    from {left: -50%;}
}
.login .cabout{width:51%;height: 50vh;background: var(--gradient);}
.login .cabout .title{opacity: .7;font-size: 50px;position: relative;left: 8%;top: 20px;}
.login .cabout p{font-size: 28px;padding: 40px 20px;}
.login .usr{width: 45%;height: 75px;background: var(--grey);position: absolute;top: 40px;right: 18px;border-radius:40px !important;}
.login .pass{top: 18vh;;}
.loginslide{top: 200%;}
.login .usr svg{width: 1.5em;height: 1.5em;position: absolute;top: 25px; left: 30px;}
.login .jss28{top: 80px;fill:#eb5a00;}
.login input{background-color: var(--grey);border: none; color: white;font-family: var(--take); font-size: 25px;width: 290px;position: absolute;top: 15px;left: 40px;padding: 5px 20px;cursor: text;}
.login input:focus{
    outline: none;
}
.login .loginbtn{position: absolute;left: 69%;bottom: 50px;color: bisque;padding: 1px 20px 5px;background: var(--p_btn);border-radius:30px;font-size: 25px;}
.login .loginbtn:hover{box-shadow: var(--shadow);
background: var(--p_btn_hover);cursor: pointer;
}
@media screen and (min-width:1280px) and (max-width:1480px){
    .login{left:20%;}
    #watermark{left:15%;top: -5%;}
}


@keyframes slide{
    10%{
        left: 50px;
    }
    30%{
        left: 50px;
    }
    50%{
        left: 50px;
    }
    70%{
        left: -50px;
    }
    100{
        left: -50px;
    }
}

