<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>School management</title>
    <style>
        *{padding: 0;margin: 0;}
        body{overflow: hidden;background: #202020;}
        #upload {
            width: 100%;
            height: 300px;
            background: linear-gradient(57deg,#09789a,#039267);
        }
        div{color: blanchedalmond;}
    </style>
</head>
<body>
    <div id="upload">

    </div>
    <div>
        Feature under development
    </div>
</body>
</html>